{% extends "layout_v2.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/Client_Page_v1_0.css">
    <script src="../static/Client_Page_v1_0.js"></script>
    <title>Tracks</title>
{% endblock %}


{% block content %}
<div class="row" id="Dashboard-Main-Info-Product-Title">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <div id="Dashboard-Show-Filters-Title">Filters</div>
            </div>
            <div class="col-md-8">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="Dashboard-Show-Filters-Button">
                    Select
                    </button>
                    <ul class="dropdown-menu" id="Dashboard-Show-Filters-Dropdown_List">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="showFilters" value="last_added" id="last_added">
                                <label class="form-check-label" for="last_added">
                                    Last Added
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="showFilters" value="last_week_added" id="last_week_added">
                                <label class="form-check-label" for="last_week_added">
                                    Last Week Added
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="showFilters" value="newly_added" id="newly_added">
                                <label class="form-check-label" for="newly_added">
                                    Newly Added
                                </label>
                            </div>
                        </li>
                        <li>
                            <button class="btn btn-primary" style="font-size:10px;margin-top: 15px;margin-left: 20px;" onclick="applyFilter()">Apply Filter</button>
                        </li>
                        
                    </ul>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-3">
                <div id="Dashboard-Show-Columns-Title">Show</div>
            </div>
            <div class="col-md-6">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" id="Dashboard-Show-Columns-Button">Basic Columns
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="Dashboard-Show-Columns-Dropdown_List">
                        <li>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Basic Columns" id="flexCheckDefault-showColumns-0" onclick="return false" checked>
                            <label class="form-check-label" for="flexCheckDefault">Basic Columns</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Locality" id="flexCheckDefault-showColumns-1">
                            <label class="form-check-label" for="flexCheckDefault">Locailty</label>
                            </div>
                        </li>                                                                          
                    </ul>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row" id="Dashboard-Top-Search-Bar">
            <div class="col-md-2"><i id="Dashboard-Search-Icon" class="fa fa-search" aria-hidden="true"></i></div>
            <div class="col-md-10"><input type="text" id="search-input" class="form-control input-lg" placeholder="Search for Entity Name, Locailty, Document Status etc" autocomplete="off" spellcheck="false" autocorrect="off" value=""></div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="Dashboard-Main-Info-Product-Details">
        <div class="row" id="Dashboard-Main-Info-Inner-Details-Box">
            <div class="col-md-12">
                <!-- <div class="row" id="Dashboard-Data-Table-Top-Content">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dropdown show">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="Dashboard-Download-Files-Button">Download
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDownloadFilePopup">
                                        <div class="container-fluid">
                                            <div class="row" id="Dashboard-Download-File-Popup-Row">
                                                <div class="col-md-2"><div class="col-md-2"><img src="../static/PDF_file_icon_v1.png" style="width: 12px;"></div></div>
                                                <div class="col-md-10"><a class="dropdown-item" href="#" onclick="exportToPDF('Main-Data-Table-Content')"><b>PDF</b></a></div>
                                            </div>
                                            <div class="row" id="Dashboard-Download-File-Popup-Row">
                                                <div class="col-md-2"><img src="../static/CSV_file_icon_v1.png" style="width: 12px;"></div>
                                                <div class="col-md-10"><a class="dropdown-item" href="#" onclick="exportToCSV('Main-Data-Table-Content')"><b>CSV</b></a></div>
                                            </div>
                                            <div class="row" id="Dashboard-Download-File-Popup-Row">
                                                <div class="col-md-2"><img src="../static/Excel_file_icon_v1.png" style="width: 12px;"></div>
                                                <div class="col-md-10"><a class="dropdown-item" href="#" onclick="exportTableToExcel('Main-Data-Table-Content')"><b>Excel</b></a></div>
                                            </div>

                                        </div>
                

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>    
                </div> -->
                <div class="row" id="Dashboard-Data-Table-Content-Box">
                    <div class="col-md-12">
                        <div class="dropdown show">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="Dashboard-Download-Files-Button">Download
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDownloadFilePopup">
                                <div class="container-fluid">
                                    <div class="row" id="Dashboard-Download-File-Popup-Row">
                                        <div class="col-md-2"><div class="col-md-2"><img src="../static/PDF_file_icon_v1.png" style="width: 12px;"></div></div>
                                        <div class="col-md-10"><a class="dropdown-item" href="#" onclick="exportToPDF('Main-Data-Table-Content')"><b>PDF</b></a></div>
                                    </div>
                                    <div class="row" id="Dashboard-Download-File-Popup-Row">
                                        <div class="col-md-2"><img src="../static/CSV_file_icon_v1.png" style="width: 12px;"></div>
                                        <div class="col-md-10"><a class="dropdown-item" href="#" onclick="exportToCSV('Main-Data-Table-Content')"><b>CSV</b></a></div>
                                    </div>
                                    <div class="row" id="Dashboard-Download-File-Popup-Row">
                                        <div class="col-md-2"><img src="../static/Excel_file_icon_v1.png" style="width: 12px;"></div>
                                        <div class="col-md-10"><a class="dropdown-item" href="#" onclick="exportTableToExcel('Main-Data-Table-Content')"><b>Excel</b></a></div>
                                    </div>

                                </div>
        

                            </div>
                        </div>
                        <div class="table-responsive" id="Main-Data-Table-Div">
                            <table class="table" id="Main-Data-Table-Content" style="width: 200%;">
                                <thead id="Dashboard-Data-Table-Header-Row">
                                    <tr>
                                        <!-- <th>Select Document</th>
                                        <th>Entity Name</th>
                                        <th scope="col">Location Code</th>
                                        <th scope="col">Type of License</th>
                                        <th scope="col">State</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Locality</th>
                                        <th scope="col">Assigned Date</th> -->
                                    </tr>
                                    </thead>
                                    <tbody id="Dashboard-Data-Table-Body-Row">
                                    
                                    </tbody>
                                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                        
    
<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <!-- <h5 class="modal-title" style="margin-left: 10px;">Select Document Types </h5> -->
                <!-- <button class="btn btn-primary" type="button" class="close" data-bs-dismiss="modal" style="background-color: white;color: black; border-color: white; font-size: 20px; margin-top: -10px;" >&times;</button> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" style="font-size:13px;margin-left: 15px; margin-top: 20px;" id="multiSelectDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Document Categories
                            </button>
                            <div class="dropdown-menu" id="MultiSelect-Dropdown-Menu" aria-labelledby="multiSelectDropdown" style="width: 240px;height: 40vh;overflow-y: scroll;">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <button class="btn btn-primary" type="button" class="close" data-bs-dismiss="modal" style="background-color: white;color: black; border-color: white; font-size: 20px; margin-left: 470px;" >&times;</button>
                    </div>
                </div>

            </div>
            <div class="modal-body">
                <div class="container" id="Dashboard-Modal-Table-Content-Box">
                    <!-- <div class="row">
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" style="font-size:13px;" id="multiSelectDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add Document Categories
                                </button>
                                <div class="dropdown-menu" id="MultiSelect-Dropdown-Menu" aria-labelledby="multiSelectDropdown">
                                    
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead id="Dashboard-Modal-Table-Header-Row">
                                        <tr>
                                            <th scope="col"><div class="form-check"><input style="display:none" class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" id="flexCheckDefault2" for="flexCheckDefault"></label></div></th>
                                            <th scope="col">Category Types</th>
                                            <th scope="col">Upload File</th>
                                            <th scope="col">File Type</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="Dashboard-Modal-Table-Body-Row">
                                                                                        
                                        </tbody>
                                        
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer" style="border-style: none !important;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="font-size: 13px;" id="addCategory" onclick="submitFileForm()">Save Changes</button>
            </div>
        </div>       
    </div>
</div>


<!-- Add Comment Modal -->
<div id="commentModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border: none; ">
                <h5 class="modal-title" style="margin-left: 10px;">Add Comments </h5>
                <button class="btn btn-primary" type="button" class="close" data-bs-dismiss="modal" style="background-color: white;color: black; border-color: white; font-size: 20px; margin-top: -10px;" >&times;</button>
            </div>
            <div class="modal-body">
                <div class="container" id="Comment-Modal-Content-Box">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea rows="5" cols="100" name="comment" id="addCommentTextarea" spellcheck="false" style="border: 1px solid #dee2e6;font-size:13px;"></textarea>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col-md-6" style="margin-top: 5px;">
                            <input type="checkbox" id="check-internal-external">
                        </div>
                        <div class="col-md-6" style="margin-top: 4px; margin-left: -350px;">
                            <span style="font-size: 12px;"> Mark this comment as external </span>                   
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-style: none !important;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="font-size: 13px;" id="addCommentsModal" onclick="addComment()">Save Changes</button>
            </div>
        </div>       
    </div>
</div>


<!-- Edit Comment Modal -->
<div id="editModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border: none; ">
                <h5 class="modal-title" style="margin-left: 10px;">Comments </h5>
                <button class="btn btn-primary" type="button" class="close" data-bs-dismiss="modal" style="background-color: white;color: black; border-color: white; font-size: 20px; margin-top: -10px;" >&times;</button>
            </div>
            <div class="modal-body">
                <div class="container" id="Comment-Modal-Content-Box">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea rows="5" cols="100" name="comment" id="addCommentTextarea" spellcheck="false" style="border: 1px solid #dee2e6;font-size:13px;"></textarea>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col-md-2" style="margin-top: 5px;">
                            <input type="checkbox" id="check-internal-external">
                        </div>
                        <div class="col-md-5" style="margin-top: 4px;">
                            <span style="font-size: 12px;margin-left: -100px;"> Mark this comment as external </span>                   
                        </div>
                        <div class="col-md-5" style="margin-top: 4px;">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="font-size: 13px;margin-left: 115px;" id="editCommentsModal" onclick="editComment()">Add Comment</button>                 
                        </div>

                    </div>
                </div>  
                
                <div class="container" id="Edit-Comment-Modal-Content-Box" style="margin-top: 80px;">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea rows="5" cols="100" name="comment" id="editComment" spellcheck="false" style="border: 1px solid #dee2e6;font-size: 13px;"></textarea>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col-md-2" style="margin-top: 5px;">
                            <input type="checkbox" id="edit-check-internal-external">
                        </div>
                        <div class="col-md-5" style="margin-top: 4px;">
                            <span style="font-size: 12px;margin-left: -100px;"> Mark this comment as external </span>                   
                        </div>
                        <div class="col-md-5" style="margin-top: 4px;">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="font-size: 13px;margin-left: 115px;" id="editCommentsModal" onclick="editComment()">Edit Comment</button>                 
                        </div>

                    </div>

                    <div class="row" style="margin-top: 80px;">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="Comment-History-Modal-Main-Table" class="table" style="width: 90%;">
                                    <thead id="Comment-Modal-Table-Header-Row">
                                        <tr>
                                            
                                            <th width="20%">Date</th>
                                            <th width="60%" style="text-align: center;">Comment</th>
                                            <th width="20%">Comment Type</th>
                                        </tr>
                                        </thead>

                                        <tbody id="Comment-Modal-Table-Body-Row">
                                        </tbody>
                                    
                                </table>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-style: none !important;">
                
            </div>
        </div>       
    </div>
</div>

  
<!-- Search for Assigned Dates Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true" style="margin-top:-80px;">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header" style="border: none;">
        <h5 class="modal-title" id="dateModalLabel">Search for Assigned Dates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 12px;"></button>
    </div>
    <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="dateTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="startDateTab" data-bs-toggle="tab" data-bs-target="#startDate" type="button" role="tab" aria-controls="startDate" aria-selected="true" style="font-size: 14px;">Start Date</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="endDateTab" data-bs-toggle="tab" data-bs-target="#endDate" type="button" role="tab" aria-controls="endDate" aria-selected="false" style="font-size: 14px;">End Date</button>
        </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content mt-3" id="dateTabContent">
        <div class="tab-pane fade show active" id="startDate" role="tabpanel" aria-labelledby="startDateTab">
            <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="startDateDefault" style="font-size: 13px; margin-top: 7px;" checked>
            <label class="form-check-label" for="startDateDefault" style="font-size: 13px;">Use Default Value</label>
            </div>
            <i class="fa fa-calendar" style="cursor:pointer; position:absolute ;margin-top: 10px;left: 35px;"></i>
            <input type="text" class="form-control" id="startDateInput" name="data-range-input" style="width: 60%;cursor: pointer;padding-left: 40px;font-size: 15px;" disabled>
        </div>
        <div class="tab-pane fade" id="endDate" role="tabpanel" aria-labelledby="endDateTab">
            <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="endDateDefault" style="font-size: 13px; margin-top: 7px;" checked>
            <label class="form-check-label" for="endDateDefault" style="font-size: 13px;">Use Default Value</label>
            </div>
            <i class="fa fa-calendar" style="cursor:pointer; position:absolute ;margin-top: 10px;left: 35px;"></i>
            <input type="text" class="form-control" id="endDateInput" name="data-range-input" style="width: 60%;cursor: pointer;padding-left: 40px;font-size: 15px;" disabled>
        </div>
        </div>
    </div>
    <div class="modal-footer" style="border: none !important;">
        <button type="button" class="btn btn-primary" id="saveDates" style="font-size: 13px;">Save Changes</button>
    </div>
    </div>
</div>
</div>

<!-- Search for License Dates Modal -->
<div class="modal fade" id="dateLicenseModal" tabindex="-1" aria-labelledby="dateLicenseModalLabel" aria-hidden="true" style="margin-top:-80px;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header" style="border: none;">
            <h5 class="modal-title" id="dateLicenseModalLabel">Search for License Expiry Dates</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 12px;"></button>
        </div>
        <div class="modal-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="dateTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="startLicenseDateTab" data-bs-toggle="tab" data-bs-target="#startLicenseDate" type="button" role="tab" aria-controls="startDate" aria-selected="true" style="font-size: 14px;">Start Date</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="endDateTab" data-bs-toggle="tab" data-bs-target="#endLicenseDate" type="button" role="tab" aria-controls="endDate" aria-selected="false" style="font-size: 14px;">End Date</button>
            </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content mt-3" id="dateTabContent">
            <div class="tab-pane fade show active" id="startLicenseDate" role="tabpanel" aria-labelledby="startDateTab">
                <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="startLicenseDateDefault" style="font-size: 13px; margin-top: 7px;" checked>
                <label class="form-check-label" for="startLicenseDateDefault" style="font-size: 13px;">Use Default Value</label>
                </div>
                <i class="fa fa-calendar" style="cursor:pointer; position:absolute ;margin-top: 10px;left: 35px;"></i>
                <input type="text" class="form-control" id="startLicenseDateInput" name="data-range-input" style="width: 60%;cursor: pointer;padding-left: 40px;font-size: 15px;" disabled>
            </div>
            <div class="tab-pane fade" id="endLicenseDate" role="tabpanel" aria-labelledby="endLicenseDateTab">
                <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="endLicenseDateDefault" style="font-size: 13px; margin-top: 7px;" checked>
                <label class="form-check-label" for="endLicenseDateDefault" style="font-size: 13px;">Use Default Value</label>
                </div>
                <i class="fa fa-calendar" style="cursor:pointer; position:absolute ;margin-top: 10px;left: 35px;"></i>
                <input type="text" class="form-control" id="endLicenseDateInput" name="data-range-input" style="width: 60%;cursor: pointer;padding-left: 40px;font-size: 15px;" disabled>
            </div>
            </div>
        </div>
        <div class="modal-footer" style="border: none !important;">
            <button type="button" class="btn btn-primary" id="saveLicenseDates" style="font-size: 13px;">Save Changes</button>
        </div>
        </div>
    </div>
    </div>
  

{% endblock %}