/* table td + td { border-left:2px solid red; } */

#Dashboard-Main-Info-Product-Title-Text
{
    font-size: 24px;
    margin-left: 100px;
}
#Dashboard-Top-Search-Bar
{
    border-style: solid;
    border-color: #dee2e6;
    background-color: white;
    border-radius: 23px !important;
    box-shadow: 0px 15px 10px -15px #111;
    /* margin-left: 100px !important; */

}

#Dashboard-Search-Icon
{
    /* margin-left: 100px; */
    font-size: 12px;
    margin-top: 11px;
    margin-left: 10px;
}

#search-input::placeholder
{
    font-size: 13px;
    color: #828282;
    opacity: 0.5;
    font-family: 'BentonSans Regular', sans-serif;
}

input[type='search']::placeholder
{
    font-size: 12px;
    color: #828282;
    opacity: 0.5;
    font-family: 'BentonSans Regular', sans-serif;

}

input[type='search']:focus
{
    outline: none !important;
}

#Dashboard-Show-Filters-Button:focus {
    border-style: solid !important;
}

#Dashboard-Show-Columns-Button:focus {
    border-style: solid !important;
}

#categorySearch
{

    font-size: 14px;
    color: #828282;
}

#search-input
{
    border-style: none;
    margin-left: -50px;
    font-size: 14px;
    color: #828282;
    font-family: 'BentonSans Regular', sans-serif;

}

.form-control:focus,.form-control:active {
    outline: none !important;
    box-shadow: none;
 }

 #Dashboard-Main-Info-Product-Details
 {
    padding-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 15px 10px -15px #111

 }

#Dashboard-Main-Info-Inner-Details-Box
{
     margin-top: -30px;
}

#Dashboard-Show-Columns-Title
{
    margin-top: 10px;
    /* margin-left: 125px; */
    color: #828282;
    font-family: 'BentonSans Regular', sans-serif;
    font-size: 14px;
}

#Dashboard-Show-Filters-Title
{
    margin-top: 10px;
    margin-left: 50px;
    color: #828282;
    font-family: 'BentonSans Regular', sans-serif;
    font-size: 14px;
}

#Dashboard-Show-Columns-Button
{
    border: 1px;
    border-style: solid;
    border-color: #D4D2D2;
    font-size: 14px;
    margin-top: 2px ;
    margin-left: -15px;
}

#Dashboard-Show-Columns-Dropdown_List
{
    padding-left: 10px;
    font-family: 'BentonSans Regular', sans-serif;
    font-size: 13px;
}

#Dashboard-Show-Filters-Button
{
    border: 1px;
    border-style: solid;
    border-color: #D4D2D2;
    font-size: 14px;
    margin-top: 2px ;
    margin-left: -15px;
    width: 200px;
    text-align: left;
}

#Dashboard-Show-Filters-Dropdown_List
{
    padding-left: 10px;
    font-family: 'BentonSans Regular', sans-serif;
    font-size: 13px;
}

#Dashboard-Download-File-Popup-Row
{
    /* font-family: "BentonSans Regular"; */
    font-size: 12px;
    background-color: white;
    font-family: 'BentonSans Regular', sans-serif;
    font-weight: 800;
}

.dropdown-item
{
    margin-left: -15px;
    margin-top: -1px;
}

#Dashboard-Download-Files-Button
{
    margin-left: 850px;
    font-size: 12px;
    font-family: 'BentonSans Regular', sans-serif;
    position: relative;
    top: 60px;
    z-index: 100;
}

th, thead
{
    position: sticky;
    top: 0;
    /* background-color: #F8F8FE !important; */
    font-size: 14px;

    background-color: #1D6CD6 !important;
    color: white !important;
    border-spacing: 5px !important;
}

#Main-Data-Table-Content
{
    margin-top: 10px;
}

table.dataTable.no-footer
{
    border-bottom: null !important;
}

table.dataTable
{
    border-collapse: null !important;
}

#Main-Data-Table-Content_info
{
    font-size: 14px;
}

#Main-Data-Table-Content_length label select
{
    border: 1px solid #D4D2D2;
}

#Main-Data-Table-Content_length
{
    font-size: 14px;
}

#Dashboard-Data-Table-Content-Box
{
    /* margin-top: 50px; */
}

#Main-Data-Table-Content_length
{
    float: none !important;
}

.Upload-Files-Button
{
    font-size: 12px;
    font-family: 'BentonSans Regular', sans-serif;
    margin-top: -5px;
}

table tbody tr td
{
    font-size: 14px;
    font-family: 'BentonSans Regular', sans-serif;
    padding-top: 12px !important;
}

.modal
{
    /* font-size: 14px; */
    font-family: 'BentonSans Regular', sans-serif;
}

.fa-trash
{
    /* margin-left: 10px; */
    margin-top: -10px;
}

.form-check-input:focus,.form-check-input:active {
    outline: none !important;
    box-shadow: none;
 }

 .form-check-input:after {
    outline: none !important;
    box-shadow: none;
 }

 .btn:focus,.btn:active {
    border-style: none !important;
 }

 .dropdown-menu-right {
    top: -40px !important;
    left: 100px !important;
 }

 .sideSearchInput::placeholder
{
    font-size: 12px;
    color: #828282;
    opacity: 0.5;
    font-family: 'BentonSans Regular', sans-serif;
}

.paginate_button
{
    padding: 5px 10px 5px 10px!important;

}